
.plypzstp {
    border-top: 1px solid #ddd;
    bottom: 0;
    position: fixed;
    z-index: 10;
    width: 100%;
    display: flex;
    background-color: var(--color-bg);
    justify-content: space-between;
    max-width: 360px;
}
.logoicon {
    margin: 0 0.2rem;
    align-items: center;
    background: none;
}
.play, .pause, .stop, .dld, .edit {
    border: none;
    cursor: pointer;
    height: 48px;
    outline: none;
    padding: 0;
    width: 48px;
}