.placepage {
  max-width: 700px;
  margin: auto;
  box-sizing: border-box;
}

.place-header {
  margin-bottom: 16px;
}

.place-header h1 {
  font-size: 1.5rem;
  margin: 0;
}

.place-header span {
  margin-left: 8px;
  padding: 2px 6px;
  background: #008327;
  color: #fff;
  font-size: 0.8rem;
  border-radius: 4px;
}

.place-header button {
  font-size: 20px;
  cursor: pointer;
  border: none;
  background: none;
}

.place-header button[title="Share"] {
  font-size: 16px;
}

.detail-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.placedetails h1 {
  font-size: 1.3rem;
  margin-bottom: 8px;
}

.placedetails p {
  margin: 4px 0;
  font-size: 0.95rem;
}

.place-banner {
  position: relative;
  aspect-ratio: 7/3;
  width: 100%;
}

#place-banner-img {
  width: 100%;
  height: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
  aspect-ratio: 7/3;
}


.delete-btn {
  background-color: #dc3545;
  color: #fff;
}

@media (max-width: 600px) {
  .place-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .place-header>div {
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }

  /* 
  .hvflex {
    flex-direction: column;
    align-items: stretch;
  } */

  #place-banner-img {
    max-height: 150px;
  }
}

.event-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--color-bg);
  right: 0;
  border: 1px solid var(--color-fg);
  padding: 20px;
  z-index: 1000;
  overflow-y: auto;
  max-height: 100vh;
}